
.vs/BankManagementProgram/FileContentIndex/00df1e13-de5a-43cf-8470-7b8f6b3f1cb9.vsidx
.vs/BankManagementProgram/FileContentIndex/03c55dcf-a466-4710-8821-452e7f998123.vsidx
.vs/BankManagementProgram/FileContentIndex/3705871a-e884-4f47-930e-76f5431c0921.vsidx
.vs/BankManagementProgram/FileContentIndex/4aa102bb-8cb7-4c45-94d9-1bd46e073861.vsidx
.vs/BankManagementProgram/FileContentIndex/5e5ae42f-4a35-4a71-aff2-648a9b9ac5fd.vsidx
.vs/BankManagementProgram/FileContentIndex/b91be980-e937-4c91-843f-a02e2f409ca3.vsidx
.vs/BankManagementProgram/FileContentIndex/fc043eb5-1364-46f7-b31e-7935a501f747.vsidx
.vs/BankManagementProgram/v17/.suo
.vs/BankManagementProgram/v17/Browse.VC.db
.vs/BankManagementProgram/v17/Browse.VC.db-shm
.vs/BankManagementProgram/v17/Browse.VC.db-wal
.vs/BankManagementProgram/v17/Browse.VC.opendb
.vs/BankManagementProgram/v17/DocumentLayout.json
.vs/BankManagementProgram/v17/ipch/AutoPCH/5ac8adc9609cc625/SOURCE.ipch
.vs/BankManagementProgram/v17/ipch/AutoPCH/9fdebb2eb481b873/BSTTREE.ipch
.vs/BankManagementProgram/v17/ipch/AutoPCH/ed497be5a84e77ba/HASHTABLE.ipch
.vs/BankManagementProgram/FileContentIndex/03c55dcf-a466-4710-8821-452e7f998123.vsidx
.vs/BankManagementProgram/FileContentIndex/3705871a-e884-4f47-930e-76f5431c0921.vsidx
.vs/BankManagementProgram/FileContentIndex/4aa102bb-8cb7-4c45-94d9-1bd46e073861.vsidx
.vs/BankManagementProgram/FileContentIndex/5e5ae42f-4a35-4a71-aff2-648a9b9ac5fd.vsidx
.vs/BankManagementProgram/FileContentIndex/b91be980-e937-4c91-843f-a02e2f409ca3.vsidx
.vs/BankManagementProgram/FileContentIndex/fc043eb5-1364-46f7-b31e-7935a501f747.vsidx
.vs/BankManagementProgram/v17/.suo
.vs/BankManagementProgram/v17/Browse.VC.db
.vs/BankManagementProgram/v17/DocumentLayout.json
.vs/BankManagementProgram/FileContentIndex/03c55dcf-a466-4710-8821-452e7f998123.vsidx
.vs/BankManagementProgram/v17/DocumentLayout.json
.vs/BankManagementProgram/FileContentIndex/3705871a-e884-4f47-930e-76f5431c0921.vsidx
.vs/BankManagementProgram/FileContentIndex/4aa102bb-8cb7-4c45-94d9-1bd46e073861.vsidx
.vs/BankManagementProgram/FileContentIndex/5e5ae42f-4a35-4a71-aff2-648a9b9ac5fd.vsidx
.vs/BankManagementProgram/FileContentIndex/b91be980-e937-4c91-843f-a02e2f409ca3.vsidx
.vs/BankManagementProgram/FileContentIndex/fc043eb5-1364-46f7-b31e-7935a501f747.vsidx
.vs/BankManagementProgram/v17/.suo
.vs/BankManagementProgram/v17/Browse.VC.db
.vs/*